/*Globals*/
@import './styles/reset.css';
@import './styles/shared.css';

/*Components Styles*/
@import './components/Navbar/index.css';
@import './components/CartWidget/index.css';
@import './components/Card/index.css';
@import './components/ItemList/index.css';
@import './components/containers/Footer/index.css';
@import './components/ItemDetail/index.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

